[submodule "maskrcnn-benchmark"]
	path = maskrcnn-benchmark
	url = https://github.com/facebookresearch/maskrcnn-benchmark.git
[submodule "SRGAN"]
	path = SRGAN
	url = https://github.com/leftthomas/SRGAN.git
[submodule "Finding-Tiny-Faces-with-GAN"]
	path = Finding-Tiny-Faces-with-GAN
	url = https://github.com/EthanGuan/Finding-Tiny-Faces-with-GAN.git
[submodule "darknet"]
	path = darknet
	url = https://github.com/pjreddie/darknet.git
