[submodule "maskrcnn-benchmark"]
	path = maskrcnn-benchmark
	url = https://github.com/facebookresearch/maskrcnn-benchmark.git
[submodule "SRGAN"]
	path = SRGAN
	url = https://github.com/leftthomas/SRGAN.git
[submodule "Finding-Tiny-Faces-with-GAN"]
	path = Finding-Tiny-Faces-with-GAN
	url = https://github.com/EthanGuan/Finding-Tiny-Faces-with-GAN.git
[submodule "darknet"]
	path = darknet
	url = https://github.com/pjreddie/darknet.git
[submodule "frustum-pointnets"]
	path = frustum-pointnets
	url = git@github.com:charlesq34/frustum-pointnets.git
[submodule "maskscoring_rcnn"]
	path = maskscoring_rcnn
	url = https://github.com/zjhuang22/maskscoring_rcnn.git
[submodule "pseudo_lidar"]
	path = pseudo_lidar
	url = https://github.com/mileyan/pseudo_lidar.git
[submodule "pytorch_geometric"]
	path = pytorch_geometric
	url = https://github.com/rusty1s/pytorch_geometric.git
[submodule "PSMNet"]
	path = PSMNet
	url = https://github.com/JiaRenChang/PSMNet.git
[submodule "GwcNet"]
	path = GwcNet
	url = https://github.com/xy-guo/GwcNet.git
[submodule "template"]
	path = template
	url = git@github.com:Tenant/net-template.git
[submodule "Stereo-RCNN"]
	path = Stereo-RCNN
	url = https://github.com/HKUST-Aerial-Robotics/Stereo-RCNN.git
[submodule "PointRCNN"]
	path = PointRCNN
	url = https://github.com/sshaoshuai/PointRCNN.git
[submodule "SiamMask"]
	path = SiamMask
	url = https://github.com/foolwood/SiamMask.git
[submodule "TrackR-CNN"]
	path = TrackR-CNN
	url = https://github.com/VisualComputingInstitute/TrackR-CNN.git
